version: "3.9"

services:
  uploader:
    build: .
    container_name: secure-uploader
    ports:
      - "3000:3000"

    user: "911:911"

    volumes:
      - ./uploads:/app/uploads
      - ./db:/app/db

    env_file:
      - .env

    restart: unless-stopped

    # ---- HARDENING ----
    read_only: true
    security_opt:
      - no-new-privileges:true
    cap_drop:
      - ALL

volumes:
  uploads_data:
  db_data:
