entryPoints:
  websecure:
    address: ":8443"

api:
  dashboard: false

providers:
  docker:
    exposedByDefault: false

serversTransport:
  insecureSkipVerify: true

tls:
  stores:
    default:
      defaultGeneratedCert:
        resolver: ""

log:
  level: INFO
  filePath: /var/log/traefik/traefik.log

accessLog:
  filePath: /var/log/traefik/access.log
  format: json
